{% macro default() %}
    {% set menus = get_menus() %}

    <header class="component component--header" role="banner">
        <nav class="container mx-auto fixed left-0 right-0 w-full py-l">
            <div class="grid grid-cols-6 lg:grid-cols-12 items-center gap-l">
                <div class="col-span-6 lg:col-span-4">
                <a href="{{ get_home_url() }}" class="ts-logo uppercase">
                    <div class="flex flex-col">
                        <div>Benoit</div>
                        <div>Matthias</div>
                    </div>
                </a>
                </div>
                <div class="col-span-6 lg:col-span-4 text-center">
                    <ul class="menu flex items-center justify-center gap-s">
                        {% if menus['header-primary'] and menus['header-primary'].items %}
                            {% for item in menus['header-primary'].items %}
                                <li class="ts-mini uppercase">
                                    <a href="{{ item.url }}">{{ item.name }}</a>
                                    {% if not loop.last %},{% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="col-span-6 lg:col-span-4 text-right">
                    <a class="ts-mini uppercase underline underline-offset-4" href="mailto:matthiasbenoit.pro@gmail.com?subject=Testing out mailto!">Send me a message</a>
                </div>
            </div>
        </nav>
    </header>
{% endmacro %}

{% macro menu(menus) %}
    {% if menus['header-secondary'].items %}
        <ul class="pannel__menu">
            {% for item in menus['header-secondary'].items %}
                <li>
                    {% if item.children %}
                        <button>{{ item.name }}</button>
                        <ul>
                            {% for i in item.children %}
                                <li>
                                    <a href="{{ i.url }}" target="{{ i.target }}">{{ i.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a href="{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro languages() %}
    {% set languages = get_languages() %}

    {% if languages %}
        <ul class="pannel__langages">
            {% for language in languages %}
                <li>
                    <a href="{{ language.url }}">{{ language.slug }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}