{% extends "app-content.twig" %}

{% import "@components/image.twig" as image %}
{% set fields = function('get_fields', post.ID) %}

{% block app_content %}
	<div class="container mt-100 d:mt-120">
		<div class="grid grid-cols-6 d:grid-cols-12 gap-xl d:gap-l" show-elements>
			<div class="col-span-4 d:col-span-2">
				{{ image.default(fields.image, {'aspect_ratio':'aspect-[253/316] d:aspect-[217/316]'}) }}
			</div>
			<div class="col-span-6 d:col-span-4 d:col-start-4">
				<div class="flex flex-col gap">
					{{ fn('wpautop', fields.content) }}
				</div>
			</div>
			<div class="col-span-6 d:col-span-4 d:col-start-9">
				<div class="flex flex-col gap-l">
					<div class="ts-label">Awards</div>
					<div class="ts-label flex flex-col gap-m">
						{% for item in fields.awards %}
							<div class="flex justify-between w-full">
								<div>{{ item.title }}</div>
								<div>{{ item.text }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ flex_content.default(post.meta('content')) }}
{% endblock %}
